<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="row1"></div>

    <div class="row1content">
        <h1>About</h1>
        <h2>  Wie zijn ze, wat doen ze, wat drijft ze?</h2>
        <p>Mechelen Feest presenteert jaarlijks heel wat heerlijke feestelijkheden, festivals en culturele stadsevenementen voor jong en oud. Bovendien biedt Mechelen Feest hét evenementenloket voor organisatoren.</p>
        <p>Het evenementenaanbod van Mechelen Feest is zeer breed en heeft twee grote pijlers: een winter- én een zomerprogramma. Daarnaast kiest Mechelen Feest jaarlijks een cultureel themajaar met een uitgebreid programma.</p>
        <br>
        <p>Op deze site geven we je een overzicht van de feest-locaties die Mechelen rijk is.</p>
        <p>Kijk gerust eens rond!</p>
        <br>

        <p>We zouden dit allemaal niet kunnen doen zonder onze Raad van Bestuur:</p>
        <br>
        <p>Kristof Calvo – voorzitter Mechelen Feest vzw</p>
        <p>Calvo Kristof – Beurghs Peter - Creyelman Frank - Delrue Klaas – Geys Arnout –</p>
        <p>Ghekiere Peggy - Indigne Pia – Lauwers Jasmine -Jaspers Sam - Baert Marc - Milis</p>
        <p>Geert - De Nijn Heidi - Roofthoofd Nils - Defoor Steven - Van De Perre Barbara -</p>
        <p>Van Goethem Veerle - Verbeurgt Thijs - Wachter Caroline - Willaerts Clo</p>
        <br>
        <br>
        <aside>
            <h2>Contact info:</h2>
            <p>mechelen.feest@mechelen.be</p>
            <p>Stadsbestuur Mechelen</p>
            <p>Huis van de Mechelaar</p>
            <p>Reuzenstraat 1, 2800 Mechelen</p>
            <p>0800 20 800, onthaal@mechelen.be</p>
        </aside>


    <div class="border"></div>
    </div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>

</html>