<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="border"></div>
<div th:if="${showFilters}" class="filters">
    <a class="buttonLook filterButton" th:href="@{/venuelist}">-</a>
    <form>
        <div class="onefilter">
            <input type="submit" value="search" class="buttonlook filterButton">
        </div>
        <h3>Capacity</h3>
        <div class="onefilter">
            <label for="minCapacity" class="filtername">min</label>
            <input type="number" id="minCapacity" name="minCapacity" value="0" step="50">persons
        </div>
        <div class="onefilter">
            <label for="maxCapacity" class="filtername">max</label>
            <input type="number" id="maxCapacity" name="maxCapacity" value="0" step="50">persons
        </div>
    </form>

</div>
<div class="container">
    <h1>Venue list</h1>


    <ul class="buttonlist">
        <li th:each="venue, iStat:${venues}">
            <a th:href="@{|/venuedetailsbyid/*{iStat.index +1}|}" th:text="|${venue.getVenueName()}|" href="">venue name</a>
        </li>
    </ul>
</div>
</body>
<div class="border"></div>
</html>